<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card instructor-card" id="instructor1">
        <div class="card-img-wrapper">
          <img src="./../../../../../assets/images/instruktorka.png" class="card-img-top img-fluid" alt="Kasia">
        </div>
        <div class="card-body">
          <h5 class="card-title">Kasia</h5>
          <div class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
              suscipit magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien
              iaculis venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card instructor-card" id="instructor2">
        <div class="card-img-wrapper">
          <img src="./../../../../../assets/images/instruktorka.png" class="card-img-top img-fluid" alt="Barbara">
        </div>
        <div class="card-body">
          <h5 class="card-title">Barbara</h5>
          <div class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
              suscipit magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien
              iaculis venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card instructor-card" id="instructor1">
        <div class="card-img-wrapper">
          <img src="./../../../../../assets/images/instruktorka.png" class="card-img-top img-fluid" alt="Kasia">
        </div>
        <div class="card-body">
          <h5 class="card-title">Kasia</h5>
          <div class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
              suscipit magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien
              iaculis venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card instructor-card" id="instructor2">
        <div class="card-img-wrapper">
          <img src="./../../../../../assets/images/instruktorka.png" class="card-img-top img-fluid" alt="Barbara">
        </div>
        <div class="card-body">
          <h5 class="card-title">Barbara</h5>
          <div class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
              suscipit magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien
              iaculis venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>