<div class="container my-5">
    <h2 class="text-center mb-5">Nasi instruktorzy</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="./../../../../../assets/images/instructor1.png" class="card-img-top">
          
          <div class="card-body">
            <h5 class="card-title">dziewczyna w czerwonym</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="./../../../../../assets/images/instructor2.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">zolta</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="./../../../../../assets/images/instructor3.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">niebieska</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>