<div class="container my-5">
  <h1 class="text-center text-dark">Kontakt</h1>
  <hr class="bg-warning mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="map-responsive">
        <iframe
          src="https://maps.google.com/maps?q=warszawska%2045%20minsk%20mazowiecki&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 my-5">
      <h2 class="text-dark">Informacje kontaktowe</h2>
      <p class="text-dark">Adres: Warszawska 45, 05-300 Minsk Mazowiecki</p>
      <p class="text-dark">Telefon: +48 123 456 789</p>
      <p class="text-dark">Email: contact@example.com</p>
      <p class="text-dark">Godziny otwarcia: pon-pt 9:00-17:00</p>
    </div>
  </div>
</div>