
<div class="jumbotron text-center">
  <h1 class="display-4">Szkoła Pole Dance</h1>
  <p class="lead">Naucz się tańczyć na rurze</p>
  <hr class="my-4">
  <p>U nas znajdziesz najlepsze zajęcia pole dance, prowadzone przez wykwalifikowanych instruktorów.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Zajęcia 1</h3>
      <p>lorem ipsum</p>
    </div>
    <div class="col-md-4">
      <h3>Zajęcia 2</h3>
      <p>lorem ipsum</p>
    </div>
    <div class="col-md-4">
      <h3>Zajecia 3</h3>
      <p>lorem ipsum</p>
    </div>
  </div>
</div>
  
  <router-outlet></router-outlet>
  