<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="text-dark">Adres: Warszawska 45, 05-300 Minsk Mazowiecki</p>
        <p class="text-dark">Telefon: +48 123 456 789</p>
        <p class="text-dark">Email: contact@example.com</p>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.facebook.com/polememore" class="mr-3">
          <img src="./../../../../../assets/images/facebook.svg" height="32">
        </a>
        <a href="https://www.instagram.com/polememore/" class="mr-3">
          <img src="./../../../../../assets/images/instagram.svg" height="32">
        </a>
        <a href="https://www.google.com/maps/place/Pole+me+more/@52.1856564,21.5466109,17z/data=!3m1!4b1!4m6!3m5!1s0x471f2fe330f5c2ad:0x1f80c0b609c874de!8m2!3d52.1856564!4d21.5487996!16s%2Fg%2F11s7jtz9fh?hl=pl-PL" class="mr-3">
          <img src="./../../../../../assets/images/geo-alt.svg" height="32">
        </a>
      </div>
      <div class="col-md-4 text-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="regulamin.pdf">Regulamin</a>
          </li>
          <li class="list-inline-item ml-3">
            <a href="polityka-prywatnosci.pdf">Polityka prywatności</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> 