footer {
  background-color: #f8f9fa;
  padding: 60px 0;
  font-size: 18px;
}

.col-md-3 {
  width: 33.33%;
  text-align: center;
  margin-bottom: 30px;
}

.col-md-3 a {
  display: block;
  margin-bottom: 30px;
}

.list-inline-item {
  display: inline-block;
  margin-right: 30px;
}

.list-inline-item:last-child {
  margin-right: 0;
}

.list-inline-item a {
  color: #212529;
}

.list-inline-item a:hover {
  color: #c2b46f;
}

.list-inline-item i {
  margin-right: 10px;
}

.list-inline-item img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.list-inline-item:not(:last-child) {
  margin-right: 50px;
}

.list-inline-item a[href="regulamin.pdf"] {
  margin-right: 30px;
}

.list-inline-item a[href="polityka.pdf"] {
  margin-left: 30px;
}

.mr-3 {
  margin: 10px;
}