.navbar {
  background-color: #333;
  height: auto;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  background-color: #444;
}
img{
  height: 60px;
}