button {
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #dddddd;
    color: black;
    height: 35px;
}

img {
    height: 80px;
}

button:hover {
    background-color: rgb(93, 220, 226);
    color: black;
}

button:active {
    background-color: rgb(255, 0, 0);
    color: white;
}

.appbar {
    background-color: #336699;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .col {
    text-align: center;
  }
  