<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Class Schedule</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Class</th>
              <th>Time</th>
              <th>Instructor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jazz</td>
              <td>Monday 7:00pm</td>
              <td>Jane Doe</td>
            </tr>
            <tr>
              <td>Ballet</td>
              <td>Wednesday 6:00pm</td>
              <td>John Doe</td>
            </tr>
            <tr>
              <td>Hip Hop</td>
              <td>Friday 5:00pm</td>
              <td>Jane Doe</td>
            </tr>
          </tbody>
        </table>
        <div id="jazz-desc">
          <h3>Jazz</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          <div id="jazz-images">
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
          </div> 
        </div>
        <div id="ballet-desc">
          <h3>Ballet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          <div id="ballet-images">
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
          </div>
        </div>
        <div id="hip-hop-desc">
          <h3>Hip Hop</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, nisl vel tincidunt luctus, velit diam pharetra velit, id bibendum magna ipsum vel justo. Proin sit amet dolor suscipit, vestibulum lacus vitae, faucibus lectus.</p>
          <div id="hip-hop-images">
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
            <img class="class-image" src="./../../../../../assets/images/instructor3.jpg" >
          </div>
  