

 <div class="price-list">
    <h2>CENNIK</h2>
    <table>
      <thead>
        <tr>
          <th>ZAJĘCIA</th>
          <th>CENA ZA JEDNĄ LEKCJĘ (60 min)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pole dance (poziom początkujący)</td>
          <td>60 zł</td>
        </tr>
        <tr>
          <td>Pole dance (poziom średniozaawansowany)</td>
          <td>70 zł</td>
        </tr>
        <tr>
          <td>Pole dance (poziom zaawansowany)</td>
          <td>80 zł</td>
        </tr>
        <tr>
          <td>Pole fitness</td>
          <td>65 zł</td>
        </tr>
        <tr>
          <td>Stretching</td>
          <td>50 zł</td>
        </tr>
      </tbody>
    </table>
  </div>
  