<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="./../../../../../assets/images/logo.png" class="img-fluid float-md-start">
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec suscipit
        magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien iaculis
        venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam at enim tincidunt euismod.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec suscipit
        magna eu velit vulputate, non bibendum eros placerat. Nulla facilisi. Nulla eget justo at sapien iaculis
        venenatis sit amet in purus. Nunc sit amet quam id nunc dictum auctor.</p>
    </div>
    <div class="col-md-6">
      <img src="./../../../../../assets/images/logo.png" class="img-fluid float-md-end">
    </div>
  </div>
</div>
